// Colours partial

// Text colours
$txt-primary: rgba(19, 21, 23, 0.793);
// body font
$txt-secondary: #3D4351;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #727272;
$form-placeholder: #a8a8a8;
// form placeholder text
// Global colours
$accent-color: #d3ab32;
// global accent colour
$accent-color-hover: #d3ab32;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #c6c7c7;
$footer-keyline-color: #4E566C;